<template>
  <main
    class="app container is-flex-direction-column is-justify-content-center is-align-items-center pt-10"
  >
    <div v-if="shouldShowVotations" class="d">
      <h1 class="title is-1 has-text-white has-text-centered my-6">
        Seleccione su candidato
      </h1>
      <div class="columns">
        <div class="column is-half">
          <div @click="() => handleSendVote('bodoque')" class="card">
            <div class="card-header">
              <div class="card-header-title">Juan Carlos Bodoque</div>
            </div>
            <div class="card-image">
              <img src="/static/bodoque.png" alt="Juan Carlos Bodoque" />
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div @click="() => handleSendVote('tulio')" class="card">
            <div class="card-header">
              <div class="card-header-title">Tulio Trivino</div>
            </div>
            <div class="card-image">
              <img src="/static/tulio.png" alt="Tulio Trivino" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="">
      <h1 class="title is-1 has-text-white has-text-centered mt-6 mb-4">
        Se restringe el acceso
        
      </h1>
      <p class="has-text-centered">
        Su información no llena los requisitos para poder inscribirse a un nuevo voto.
      </p>
    </div>
  </main>
</template>

<script>
import { validateToken, sendVote } from './helpers/apiRequest';
export default {
  mounted() {
    const token = window.location.pathname.split('/').reverse()[0];
    console.log(token)
    validateToken(token)
      .then((result) => {
        this.shouldShowVotations = result.data.valid;
        this.userId = result.data.userId;
      })
      .catch((error) => { console.log(error); this.shouldShowVotations = false});
  },
  components: {},
  data: () => ({ shouldShowVotations: false, userId: '' }),
  methods: {
    handleSendVote(vote) {
      const token = window.location.pathname.split('/').reverse()[0];
      sendVote(token, this.userId, vote)
        .then(async (result) => {
          await alert('Voto realizado correctamente');
          this.shouldShowVotations = false;
        })
        .catch(async (error) => {
          await alert(error.message);
          this.shouldShowVotations = false;
        });
    },
  },
};
</script>

<style lang="scss" src="./Buefy.scss"></style>
<style lang="scss" scoped>
.app {
  height: 100vh;
  &__button {
    $margin: 1em;
    position: absolute;
    right: $margin;
    top: $margin;
  }
  .card {
    width: 70%;
    margin: auto;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }
  .card:hover {
    transform: scale(1.1, 1.1);
    //    outline: 3px solid #f2f2f2;
  }
}
</style>
